.image{
    position: absolute;
    margin:auto;
    right:50%;
    bottom:50%;
    transform:translate(50%,50%);
}

#img-mapper{
    width:400px !important;
    height:573px !important;
}
.img-mapper-canvas{
    width:400px !important;
    height:573px !important;
}

area:hover {
    background-color: antiquewhite;
}