
.main{
    height:90vh;
    z-index: -1;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 57, 77);
}

.collectionbox{
    background-color: rgb(231, 230, 230);
    height:100%
}

.buttonSubmit{
    margin: 3vh;
}
